POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_PORT=
DATABASE_URL=

REDIS_HOST=
REDIS_PORT=
REDIS_URL=

ADMIN_EMAIL=
ADMIN_PASSWORD=

SESSION_TTL_SECONDS=

COOKIE_NAME=
COOKIE_MAX_AGE_SECONDS=

