# =============================== Docker Compose ====================================
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_PORT=
REDIS_PORT=

# =============================== NestJS Application ===============================
# development | production | test
NODE_ENV=
PORT=
CORS_ORIGIN=
SESSION_TTL_SECONDS=
COOKIE_NAME=
COOKIE_MAX_AGE_SECONDS=
# Prisma Database URL
DATABASE_URL=
REDIS_URL=

# Dadata API
DADATA_API_KEY=
DADATA_TTL_SECONDS=
DADATA_SUGGESTIONS_URL=

# =============================== Seeding Admin User ===============================
ADMIN_EMAIL=
ADMIN_PASSWORD=
